@charset "UTF-8";
html, body {
	height:100%;
	margin:0;
}
body{
	background:url("../img/bgLines.png") repeat;
}
article,
footer,
section {
  display: block;
}


/* http://www.google.com/webfonts/specimen/Aldrich */
@font-face {
    font-family: 'AldrichRegular';
    src: url('../fonts/aldrich-regular-webfont.eot');
    src: url('../fonts/aldrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aldrich-regular-webfont.woff') format('woff'),
         url('../fonts/aldrich-regular-webfont.ttf') format('truetype'),
         url('../fonts/aldrich-regular-webfont.svg#AldrichRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* http://www.google.com/webfonts/specimen/Roboto */
@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: 400;
    font-style: normal;
}

/* ==========================================================================
   Main style
   ========================================================================== */


.bg-shadow img{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

h3,
.f,
.desc,
.lang,
.soon,
.header,
.desc-day,
.desc-time,
.reveal-modal a{
	font-family: 'RobotoThin', sans-serif;
}

.container{
	margin:0 auto 10px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}

.floater{
	height: 20%;
}
.floater2{
	height: 40%;
}

.light{
  color:#fefefe;
  text-shadow:
    0px 0px 0px #c0c0c0,
    0px 0px 0px #b0b0b0,
    0px 0px 0px #a0a0a0,
    0px 0px 0px #909090,
    0px 1px 3px rgba(0, 0, 0, 0.4);
	opacity:0.8;
}

.dark{
   text-shadow:
    0px 0px 0px #555555,
    0px 0px 0px #454545,
    0px 0px 0px #353535,
    0px 0px 0px #252525,
    0px 1px 3px rgba(0, 0, 0, 0.4);
}

.section-count,.section-name{
	margin:45px 0px;
	padding:0 10px;
	min-height:300px;
}

/* 
 * Count style
 */
.count{
	width: 389px;
	margin:40px auto;
}

.count-small{
	font-weight: bold; 
	font-size: 4em;
	padding:10px 0px;
	margin:20px 0;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
	font-family: 'AldrichRegular', sans-serif;
}

.dig-days span,.dig-hours span, .dig-mins span, .dig-sec span,.dig-delim{
	text-align: center;
	display:block;
	font-family: 'AldrichRegular', sans-serif;
}

.dig-days span{
	height: 150px;
	width:115px;
	text-align: center;
	float:left;
	font-size: 11em;	
}
.dig-hours span, .dig-mins span, .dig-sec span{
	width: 95px;
	height: 60px;
	font-size: 4.5em;
}

.dig-hours, .dig-mins, .dig-sec, .dig-delim{
	float:left;
	margin-right:10px;
}

.dig-delim{
	width:20px;
	height: 60px;
	font-size: 4.5em;	
} 

.desc-day{
	width: 30px;
 	float:left;
	font-size: 3em;
	padding:0px;
	margin:90px 0 0 0;
	text-transform:uppercase;
	-webkit-transform: rotate(-90deg);
	   -moz-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
    writing-mode: tb-rl;
	font-weight: bold; 
}

 .desc-day{
	margin:20px 20px 0 0\9;

} 
.desc-time{
	height:5px;
	text-align: center;
	font-size: 1.5em;
	padding:3px;
}

/* 
 * Name style
 */
.header,.soon{
	font-size: 3.7em;
	font-weight: bold;
	margin:10px 0 10px;
}
h2{
	font-size: 2em;
	text-align:center;
}
.soon{
	text-transform:uppercase;
	font-weight: bold;
}
.border {
	border-left:4px solid #fff;
}
.desc{
	margin:10px 0;
	font-size: 1.5em;
	line-height:1.5;
	opacity:0.8;
}
h3{
	font-size: 1.5em;
	font-weight: normal;
}
.subscribe input{
	border-color: rgb(204,204,204);
	background-color: rgba(255,255,255, 0.2);
}
::-webkit-input-placeholder { 
    color:    #484848;
}
:-moz-placeholder { 
    color:    #000;
}
::-moz-placeholder { 
    color:    #000;
}
:-ms-input-placeholder {
    color:    #484848;
}

#success {
	margin: 2px;
	position:absolute;
	width:99.5%;
}
.button{
	font-weight: normal;
}

/* 
 * Icon style
 */
.icon{
	font-size:1.5em;
	line-height: 1.5;
	padding:0 0 0 10px;
	text-shadow:
    0px 0px 0px #555555,
    0px 0px 0px #454545,
    0px 0px 0px #353535,
    0px 0px 0px #252525,
    0px 1px 3px rgba(0, 0, 0, 0.4);
}
.icon a{
	color:#fff;
	opacity: 0.7;
}	
.icon a:hover{
	color:#000;
	-webkit-text-shadow: 0 0 10px #fff;
	   -moz-text-shadow: 0 0 10px #fff;
			text-shadow: 0 0 10px #fff;

}
.icon span {
	margin:0 5px;
}
.reveal-modal a{
	line-height: 2.5;
	color:#525252;
}
.reveal-modal a:hover{
	color:#000;
}


/* 
 * Footer style
 */
.lang {
	line-height: 1.5;
}
.lang,.lang a{color:#fff;opacity: 0.9;}
.lang a:hover{
	color:#000;
	-webkit-text-shadow: 0 0 10px #fff;
	   -moz-text-shadow: 0 0 10px #fff;
			text-shadow: 0 0 10px #fff;
}

/* 
 * Animation style
 */
.p-p-container{
	margin:0 auto 10px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	height: 2px;
	width:2px;
	min-width:2px;
	overflow: hidden;
}
.p-container{
	margin:0 auto 10px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	height: 2px;
	opacity:1;	
}
.p-floater{
	height: 50%;
}
.p-p-container,
.show1,
.show2,
.show3,
.show4{
	opacity:0;
}

footer{
	overflow: hidden;
}

/* ==========================================================================
   @media style
   ========================================================================== */
	
	/* IE 10+ */
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		.desc-day{width: 20px;margin:20px 0 0 15px;}
	}

	
    /* Large desktop */
    @media (min-width: 1200px) {
		.floater{height:25%;}
	}
    
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) {
		.container{border-top:0px solid #fff;border-bottom:0px solid #fff;}
		.border {border-left:none;}
		.floater{height:auto;}
		.floater2{height:5px;}
		.section-count,.section-name{height:auto;margin:0px 0;}
		.count-small{font-size: 4.5em;}
		.reveal-modal a{font-size: 1.5em;line-height:2;}
		.icon{font-size:2.5em;text-align:center;margin:0 0 20px;}
		.flag{margin-bottom:2px;}
		.lang{text-align:center;border-top:1px solid #fff;}
		.spacer{display:block;}
	}
    
    /* Landscape phones and down */
    @media (max-width: 480px) {
		.header,.soon,.count-small{font-size: 3.5em;margin:10px 0 0 0;}
		.floater{height:auto;}
	}
	
	/* Landscape phones and down */
    @media (max-width: 320px) {
		.header,.soon,.count-small{font-size: 2.5em;}
	}


/* ==========================================================================
   Vendors style
   ========================================================================== */

/* 
 * Pictonic fonts style
 */

@font-face{ 
    font-family: pictonic;
    src: url('../fonts/pictonic.eot');
    src: url('../fonts/pictonic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pictonic.ttf') format('truetype'),
        url('../fonts/pictonic.woff') format('woff'),
        url('../fonts/pictonic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
.pictonic{
	font-family: "pictonic";
	font-weight: normal; font-style: normal;
	-webkit-font-smoothing:  antialiased !important;
	-moz-font-smoothing:  antialiased !important;
	font-smoothing:  antialiased !important;
	line-height:1em;
}
 
a.pictonic, span.pictonic, small.pictonic {
	display: -moz-inline-stack;
	display:inline-block;
	zoom: 1;
	*display: inline;
}
 
[class^="icon-"], [class*=" icon-"]{
	font-family: "pictonic";
	font-weight: normal; font-style: normal;
	-webkit-font-smoothing:  antialiased !important;
	-moz-font-smoothing:  antialiased !important;
	font-smoothing:  antialiased !important;
	line-height:1em;
}
 
a[class^="icon-"], a[class*=" icon-"], span[class^="icon-"], span[class*=" icon-"], small[class^="icon-"], small[class*=" icon-"] {
	display: -moz-inline-stack;
	display:inline-block;
	zoom: 1;
	*display: inline;
}
.icon-earth:before { content:""; } 
.icon-dropbox:before { content:""; } 
.icon-amazon:before { content:""; } 
.icon-facebook:before { content:""; } 
.icon-flickr:before { content:""; } 
.icon-gmail:before { content:""; } 
.icon-google:before { content:""; } 
.icon-myspace:before { content:""; } 
.icon-odnoklassniki:before { content:""; } 
.icon-skype:before { content:""; } 
.icon-twitter:before { content:""; } 
.icon-vimeo:before { content:""; } 
.icon-youtube:before { content:""; } 
.icon-yahoo:before { content:""; } 
.icon-mailru:before { content:""; } 
.icon-blogger:before { content:""; } 
.icon-digg:before { content:""; } 
.icon-reddit:before { content:""; } 
.icon-share:before { content:""; } 
.icon-instagram:before { content:""; } 
.icon-livejournal:before { content:""; } 
.icon-kub-cog:before { content:""; } 
.icon-dribbble:before { content:""; } 
.icon-linkedin:before { content:""; } 
.icon-pinterest:before { content:""; } 
.icon-plaxo:before { content:""; } 
.icon-sina:before { content:""; } 
.icon-stumble_upon:before { content:""; } 
.icon-last_fm:before { content:""; } 
.icon-identi-ca:before { content:""; } 
.icon-deviantart:before { content:""; } 
.icon-fresqui:before { content:""; } 
.icon-googledrive:before { content:""; } 
.icon-spotify:before { content:""; } 
.icon-feedburner:before { content:""; } 
.icon-blinklist:before { content:""; } 
.icon-blip:before { content:""; } 
.icon-icq:before { content:""; } 
.icon-creativesloth:before { content:""; } 
.icon-rdio:before { content:""; } 
.icon-delicious:before { content:""; } 
.icon-newsvine:before { content:""; } 
.icon-orkut:before { content:""; } 
.icon-formspring:before { content:""; } 
.icon-forrst:before { content:""; } 
.icon-friendfeed:before { content:""; } 
.icon-picasa:before { content:""; } 
.icon-xing:before { content:""; } 
.icon-weblink:before { content:""; } 
.icon-wordpress:before { content:""; } 
.icon-shopify:before { content:""; } 
.icon-wikipedia:before { content:""; } 
.icon-aim:before { content:""; } 
.icon-bookmark:before { content:""; } 
.icon-hi5:before { content:""; } 
.icon-kaboodle:before { content:""; } 
.icon-technorati:before { content:""; } 
.icon-netlog:before { content:""; } 
.icon-voxopolis:before { content:""; } 
.icon-yammer:before { content:""; } 
.icon-xanga:before { content:""; } 
.icon-box-com:before { content:""; } 
.icon-zerply:before { content:""; } 
.icon-chn-weibo:before { content:""; } 
.icon-chn-renren:before { content:""; } 
.icon-chn-tencent:before { content:""; } 
.icon-chn-wechat:before { content:""; } 
.icon-grooveshark:before { content:""; } 
.icon-skydrive:before { content:""; }

/* 
 * Flag style
 */

.flag {
	display:inline-block;
	width: 16px;
	height: 11px;
	background:url(../img/flags.png) no-repeat;
}

.flag.ad {background-position: -16px 0}
.flag.ae {background-position: -32px 0}
.flag.af {background-position: -48px 0}
.flag.ag {background-position: -64px 0}
.flag.ai {background-position: -80px 0}
.flag.al {background-position: -96px 0}
.flag.am {background-position: -112px 0}
.flag.an {background-position: -128px 0}
.flag.ao {background-position: -144px 0}
.flag.ar {background-position: -160px 0}
.flag.as {background-position: -176px 0}
.flag.at {background-position: -192px 0}
.flag.au {background-position: -208px 0}
.flag.aw {background-position: -224px 0}
.flag.az {background-position: -240px 0}
.flag.ba {background-position: 0 -11px}
.flag.bb {background-position: -16px -11px}
.flag.bd {background-position: -32px -11px}
.flag.be {background-position: -48px -11px}
.flag.bf {background-position: -64px -11px}
.flag.bg {background-position: -80px -11px}
.flag.bh {background-position: -96px -11px}
.flag.bi {background-position: -112px -11px}
.flag.bj {background-position: -128px -11px}
.flag.bm {background-position: -144px -11px}
.flag.bn {background-position: -160px -11px}
.flag.bo {background-position: -176px -11px}
.flag.br {background-position: -192px -11px}
.flag.bs {background-position: -208px -11px}
.flag.bt {background-position: -224px -11px}
.flag.bv {background-position: -240px -11px}
.flag.bw {background-position: 0 -22px}
.flag.by {background-position: -16px -22px}
.flag.bz {background-position: -32px -22px}
.flag.ca {background-position: -48px -22px}
.flag.catalonia {background-position: -64px -22px}
.flag.cd {background-position: -80px -22px}
.flag.cf {background-position: -96px -22px}
.flag.cg {background-position: -112px -22px}
.flag.ch {background-position: -128px -22px}
.flag.ci {background-position: -144px -22px}
.flag.ck {background-position: -160px -22px}
.flag.cl {background-position: -176px -22px}
.flag.cm {background-position: -192px -22px}
.flag.cn {background-position: -208px -22px}
.flag.co {background-position: -224px -22px}
.flag.cr {background-position: -240px -22px}
.flag.cu {background-position: 0 -33px}
.flag.cv {background-position: -16px -33px}
.flag.cw {background-position: -32px -33px}
.flag.cy {background-position: -48px -33px}
.flag.cz {background-position: -64px -33px}
.flag.de {background-position: -80px -33px}
.flag.dj {background-position: -96px -33px}
.flag.dk {background-position: -112px -33px}
.flag.dm {background-position: -128px -33px}
.flag.do {background-position: -144px -33px}
.flag.dz {background-position: -160px -33px}
.flag.ec {background-position: -176px -33px}
.flag.ee {background-position: -192px -33px}
.flag.eg {background-position: -208px -33px}
.flag.eh {background-position: -224px -33px}
.flag.england {background-position: -240px -33px}
.flag.er {background-position: 0 -44px}
.flag.es {background-position: -16px -44px}
.flag.et {background-position: -32px -44px}
.flag.eu {background-position: -48px -44px}
.flag.fi {background-position: -64px -44px}
.flag.fj {background-position: -80px -44px}
.flag.fk {background-position: -96px -44px}
.flag.fm {background-position: -112px -44px}
.flag.fo {background-position: -128px -44px}
.flag.fr {background-position: -144px -44px}
.flag.ga {background-position: -160px -44px}
.flag.gb {background-position: -176px -44px}
.flag.gd {background-position: -192px -44px}
.flag.ge {background-position: -208px -44px}
.flag.gf {background-position: -224px -44px}
.flag.gg {background-position: -240px -44px}
.flag.gh {background-position: 0 -55px}
.flag.gi {background-position: -16px -55px}
.flag.gl {background-position: -32px -55px}
.flag.gm {background-position: -48px -55px}
.flag.gn {background-position: -64px -55px}
.flag.gp {background-position: -80px -55px}
.flag.gq {background-position: -96px -55px}
.flag.gr {background-position: -112px -55px}
.flag.gs {background-position: -128px -55px}
.flag.gt {background-position: -144px -55px}
.flag.gu {background-position: -160px -55px}
.flag.gw {background-position: -176px -55px}
.flag.gy {background-position: -192px -55px}
.flag.hk {background-position: -208px -55px}
.flag.hm {background-position: -224px -55px}
.flag.hn {background-position: -240px -55px}
.flag.hr {background-position: 0 -66px}
.flag.ht {background-position: -16px -66px}
.flag.hu {background-position: -32px -66px}
.flag.ic {background-position: -48px -66px}
.flag.id {background-position: -64px -66px}
.flag.ie {background-position: -80px -66px}
.flag.il {background-position: -96px -66px}
.flag.im {background-position: -112px -66px}
.flag.in {background-position: -128px -66px}
.flag.io {background-position: -144px -66px}
.flag.iq {background-position: -160px -66px}
.flag.ir {background-position: -176px -66px}
.flag.is {background-position: -192px -66px}
.flag.it {background-position: -208px -66px}
.flag.je {background-position: -224px -66px}
.flag.jm {background-position: -240px -66px}
.flag.jo {background-position: 0 -77px}
.flag.jp {background-position: -16px -77px}
.flag.ke {background-position: -32px -77px}
.flag.kg {background-position: -48px -77px}
.flag.kh {background-position: -64px -77px}
.flag.ki {background-position: -80px -77px}
.flag.km {background-position: -96px -77px}
.flag.kn {background-position: -112px -77px}
.flag.kp {background-position: -128px -77px}
.flag.kr {background-position: -144px -77px}
.flag.kurdistan {background-position: -160px -77px}
.flag.kw {background-position: -176px -77px}
.flag.ky {background-position: -192px -77px}
.flag.kz {background-position: -208px -77px}
.flag.la {background-position: -224px -77px}
.flag.lb {background-position: -240px -77px}
.flag.lc {background-position: 0 -88px}
.flag.li {background-position: -16px -88px}
.flag.lk {background-position: -32px -88px}
.flag.lr {background-position: -48px -88px}
.flag.ls {background-position: -64px -88px}
.flag.lt {background-position: -80px -88px}
.flag.lu {background-position: -96px -88px}
.flag.lv {background-position: -112px -88px}
.flag.ly {background-position: -128px -88px}
.flag.ma {background-position: -144px -88px}
.flag.mc {background-position: -160px -88px}
.flag.md {background-position: -176px -88px}
.flag.me {background-position: -192px -88px}
.flag.mg {background-position: -208px -88px}
.flag.mh {background-position: -224px -88px}
.flag.mk {background-position: -240px -88px}
.flag.ml {background-position: 0 -99px}
.flag.mm {background-position: -16px -99px}
.flag.mn {background-position: -32px -99px}
.flag.mo {background-position: -48px -99px}
.flag.mp {background-position: -64px -99px}
.flag.mq {background-position: -80px -99px}
.flag.mr {background-position: -96px -99px}
.flag.ms {background-position: -112px -99px}
.flag.mt {background-position: -128px -99px}
.flag.mu {background-position: -144px -99px}
.flag.mv {background-position: -160px -99px}
.flag.mw {background-position: -176px -99px}
.flag.mx {background-position: -192px -99px}
.flag.my {background-position: -208px -99px}
.flag.mz {background-position: -224px -99px}
.flag.na {background-position: -240px -99px}
.flag.nc {background-position: 0 -110px}
.flag.ne {background-position: -16px -110px}
.flag.nf {background-position: -32px -110px}
.flag.ng {background-position: -48px -110px}
.flag.ni {background-position: -64px -110px}
.flag.nl {background-position: -80px -110px}
.flag.no {background-position: -96px -110px}
.flag.np {background-position: -112px -110px}
.flag.nr {background-position: -128px -110px}
.flag.nu {background-position: -144px -110px}
.flag.nz {background-position: -160px -110px}
.flag.om {background-position: -176px -110px}
.flag.pa {background-position: -192px -110px}
.flag.pe {background-position: -208px -110px}
.flag.pf {background-position: -224px -110px}
.flag.pg {background-position: -240px -110px}
.flag.ph {background-position: 0 -121px}
.flag.pk {background-position: -16px -121px}
.flag.pl {background-position: -32px -121px}
.flag.pm {background-position: -48px -121px}
.flag.pn {background-position: -64px -121px}
.flag.pr {background-position: -80px -121px}
.flag.ps {background-position: -96px -121px}
.flag.pt {background-position: -112px -121px}
.flag.pw {background-position: -128px -121px}
.flag.py {background-position: -144px -121px}
.flag.qa {background-position: -160px -121px}
.flag.re {background-position: -176px -121px}
.flag.ro {background-position: -192px -121px}
.flag.rs {background-position: -208px -121px}
.flag.ru {background-position: -224px -121px}
.flag.rw {background-position: -240px -121px}
.flag.sa {background-position: 0 -132px}
.flag.sb {background-position: -16px -132px}
.flag.sc {background-position: -32px -132px}
.flag.scotland {background-position: -48px -132px}
.flag.sd {background-position: -64px -132px}
.flag.se {background-position: -80px -132px}
.flag.sg {background-position: -96px -132px}
.flag.sh {background-position: -112px -132px}
.flag.si {background-position: -128px -132px}
.flag.sk {background-position: -144px -132px}
.flag.sl {background-position: -160px -132px}
.flag.sm {background-position: -176px -132px}
.flag.sn {background-position: -192px -132px}
.flag.so {background-position: -208px -132px}
.flag.somaliland {background-position: -224px -132px}
.flag.sr {background-position: -240px -132px}
.flag.ss {background-position: 0 -143px}
.flag.st {background-position: -16px -143px}
.flag.sv {background-position: -32px -143px}
.flag.sx {background-position: -48px -143px}
.flag.sy {background-position: -64px -143px}
.flag.sz {background-position: -80px -143px}
.flag.tc {background-position: -96px -143px}
.flag.td {background-position: -112px -143px}
.flag.tf {background-position: -128px -143px}
.flag.tg {background-position: -144px -143px}
.flag.th {background-position: -160px -143px}
.flag.tj {background-position: -176px -143px}
.flag.tk {background-position: -192px -143px}
.flag.tl {background-position: -208px -143px}
.flag.tm {background-position: -224px -143px}
.flag.tn {background-position: -240px -143px}
.flag.to {background-position: 0 -154px}
.flag.tr {background-position: -16px -154px}
.flag.tt {background-position: -32px -154px}
.flag.tv {background-position: -48px -154px}
.flag.tw {background-position: -64px -154px}
.flag.tz {background-position: -80px -154px}
.flag.ua {background-position: -96px -154px}
.flag.ug {background-position: -112px -154px}
.flag.um {background-position: -128px -154px}
.flag.us {background-position: -144px -154px}
.flag.uy {background-position: -160px -154px}
.flag.uz {background-position: -176px -154px}
.flag.va {background-position: -192px -154px}
.flag.vc {background-position: -208px -154px}
.flag.ve {background-position: -224px -154px}
.flag.vg {background-position: -240px -154px}
.flag.vi {background-position: 0 -165px}
.flag.vn {background-position: -16px -165px}
.flag.vu {background-position: -32px -165px}
.flag.wales {background-position: -48px -165px}
.flag.wf {background-position: -64px -165px}
.flag.ws {background-position: -80px -165px}
.flag.ye {background-position: -96px -165px}
.flag.yt {background-position: -112px -165px}
.flag.za {background-position: -128px -165px}
.flag.zanzibar {background-position: -144px -165px}
.flag.zm {background-position: -160px -165px}
.flag.zw {background-position: -176px -165px}

/* 
 * Loader
 */
#preLoad{
	width:100%;
	text-align:center;
	position: absolute;
	top:48.5%;
	
}
#circleG{
	width:149px;
	margin:0 auto;
}
.circleG{
	background-color:#FFFFFF;
	float:left;
	height:20px;
	margin-left:17px;
	width:20px;
	-moz-animation-name:bounce_circleG;
	-moz-animation-duration:1.9500000000000002s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-moz-border-radius:21px;
	-webkit-animation-name:bounce_circleG;
	-webkit-animation-duration:1.9500000000000002s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-webkit-border-radius:21px;
	-ms-animation-name:bounce_circleG;
	-ms-animation-duration:1.9500000000000002s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-ms-border-radius:21px;
	-o-animation-name:bounce_circleG;
	-o-animation-duration:1.9500000000000002s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-o-border-radius:21px;
	animation-name:bounce_circleG;
	animation-duration:1.9500000000000002s;
	animation-iteration-count:infinite;
	animation-direction:linear;
	border-radius:21px;
}
#circleG_1{
	-moz-animation-delay:0.39s;
	-webkit-animation-delay:0.39s;
	-ms-animation-delay:0.39s;
	-o-animation-delay:0.39s;
	animation-delay:0.39s;
}
#circleG_2{
	-moz-animation-delay:0.9099999999999999s;
	-webkit-animation-delay:0.9099999999999999s;
	-ms-animation-delay:0.9099999999999999s;
	-o-animation-delay:0.9099999999999999s;
	animation-delay:0.9099999999999999s;
}
#circleG_3{
	-moz-animation-delay:1.1700000000000002s;
	-webkit-animation-delay:1.1700000000000002s;
	-ms-animation-delay:1.1700000000000002s;
	-o-animation-delay:1.1700000000000002s;
	animation-delay:1.1700000000000002s;
}
@-moz-keyframes bounce_circleG{50%{background-color:#000000}}
@-webkit-keyframes bounce_circleG{50%{background-color:#000000}}
@-ms-keyframes bounce_circleG{50%{background-color:#000000}}
@-o-keyframes bounce_circleG{50%{background-color:#000000}}
@keyframes bounce_circleG{50%{background-color:#000000}}


