/**
 * Farbtastic Color Picker 1.2
 * © 2008 Steven Wittens
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 */
.farbtastic {
  position: relative;
}
.farbtastic * {
  position: absolute;
  cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}
.farbtastic .color, .farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}
.farbtastic .wheel {
  background: url(wheel.png) no-repeat;
  width: 195px;
  height: 195px;
}
.farbtastic .overlay {
  background: url(mask.png) no-repeat;
}
.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden; 
  background: url(marker.png) no-repeat;
}


.setting{
	margin-left:-3px;
	font-family: 'AldrichRegular', sans-serif;
	left:-210px;
	top:100px;
	width:210px;
	margin:15px 0px;
	padding:5px;
	background-color:#000;
	position:absolute;
	text-align:center;
	z-index:10;
	opacity: 0.7;
}
.sett-bg{
	width:27px;
	height:27px;
	float:left;
	border: 1px solid #cccccc; 
	cursor:pointer;
	margin:3px
}
.sett-bg:hover,.sett-bg-none:hover{
	border: 2px solid #fff; 
}
.sett-bg-none{
	width:192px;
	height:27px;
	line-height:2;
	float:left;
	border: 1px solid #cccccc; 
	cursor:pointer;
	margin:3px;
	color: #666;
	
}
#button-setting{
	font-size:25px;
	color: #ccc;
	cursor:pointer;
	width: 35px;
	padding:5px 5px;
	margin:10px 205px -30px;
	background-color:#000;
}

.st{
	
	
	height:20px;
	padding:3px;
	margin:0 6px;

}
.st-block{
	margin:10px 0;
	line-height:2;


}
#logoShow{
	float:left;
}
.chbox{
	margin-bottom:20px;
}